USE [master]
GO
/****** Object:  Database [FilmSitesi]    Script Date: 23.12.2024 09:12:01 ******/
CREATE DATABASE [FilmSitesi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FilmSitesi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FilmSitesi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FilmSitesi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FilmSitesi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FilmSitesi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FilmSitesi]
GO
/****** Object:  Table [dbo].[Filmler]    Script Date: 23.12.2024 09:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filmler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FilmAdi] [varchar](255) NOT NULL,
	[YayinTarihi] [date] NULL,
	[Tur] [varchar](100) NULL,
	[IMDBPuani] [float] NULL,
	[Aciklama] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmOyuncular]    Script Date: 23.12.2024 09:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmOyuncular](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FilmID] [int] NOT NULL,
	[OyuncuID] [int] NOT NULL,
	[KarakterAdi] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmYonetenler]    Script Date: 23.12.2024 09:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmYonetenler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FilmID] [int] NOT NULL,
	[YonetenID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IzlemeListesi]    Script Date: 23.12.2024 09:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzlemeListesi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[FilmID] [int] NOT NULL,
	[EklemeTarihi] [datetime] NULL,
	[Durum] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanıcılar]    Script Date: 23.12.2024 09:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanıcılar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [varchar](50) NOT NULL,
	[Eposta] [varchar](100) NOT NULL,
	[Sifre] [varchar](255) NOT NULL,
	[KayitTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Eposta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oneriler]    Script Date: 23.12.2024 09:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oneriler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FilmID] [int] NOT NULL,
	[OnerilenFilmID] [int] NOT NULL,
	[Aciklama] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oyuncular]    Script Date: 23.12.2024 09:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oyuncular](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [varchar](100) NOT NULL,
	[DogumTarihi] [date] NULL,
	[Biyografi] [text] NULL,
	[Oduller] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turler]    Script Date: 23.12.2024 09:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TurAdi] [varchar](100) NOT NULL,
	[Aciklama] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yonetenler]    Script Date: 23.12.2024 09:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yonetenler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [varchar](100) NOT NULL,
	[DogumTarihi] [date] NULL,
	[Biyografi] [text] NULL,
	[Oduller] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yorumlar]    Script Date: 23.12.2024 09:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorumlar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[FilmID] [int] NOT NULL,
	[YorumMetni] [text] NULL,
	[Puan] [int] NULL,
	[Tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[IzlemeListesi] ADD  DEFAULT (getdate()) FOR [EklemeTarihi]
GO
ALTER TABLE [dbo].[IzlemeListesi] ADD  DEFAULT ('Izlenmedi') FOR [Durum]
GO
ALTER TABLE [dbo].[Kullanıcılar] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Yorumlar] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[FilmOyuncular]  WITH CHECK ADD FOREIGN KEY([FilmID])
REFERENCES [dbo].[Filmler] ([ID])
GO
ALTER TABLE [dbo].[FilmOyuncular]  WITH CHECK ADD FOREIGN KEY([OyuncuID])
REFERENCES [dbo].[Oyuncular] ([ID])
GO
ALTER TABLE [dbo].[FilmYonetenler]  WITH CHECK ADD FOREIGN KEY([FilmID])
REFERENCES [dbo].[Filmler] ([ID])
GO
ALTER TABLE [dbo].[FilmYonetenler]  WITH CHECK ADD FOREIGN KEY([YonetenID])
REFERENCES [dbo].[Yonetenler] ([ID])
GO
ALTER TABLE [dbo].[IzlemeListesi]  WITH CHECK ADD FOREIGN KEY([FilmID])
REFERENCES [dbo].[Filmler] ([ID])
GO
ALTER TABLE [dbo].[IzlemeListesi]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanıcılar] ([ID])
GO
ALTER TABLE [dbo].[Oneriler]  WITH CHECK ADD FOREIGN KEY([FilmID])
REFERENCES [dbo].[Filmler] ([ID])
GO
ALTER TABLE [dbo].[Oneriler]  WITH CHECK ADD FOREIGN KEY([OnerilenFilmID])
REFERENCES [dbo].[Filmler] ([ID])
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD FOREIGN KEY([FilmID])
REFERENCES [dbo].[Filmler] ([ID])
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanıcılar] ([ID])
GO
USE [master]
GO
